[Unit]
Description=Backend App
After=network.target

[Service]
User={{ python_user }}
Group={{ python_group }}
WorkingDirectory={{backend_app_directory }}
ExecStart={{backend_app_directory }}/venv/bin/{{ python_version_to_use }} {{backend_app_directory }}/{{ backend_main_file }}

Type=simple
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target