server {
    listen {{ frontend_port }};
    server_name {{ backend_name }};

    root {{ frontend_app_directory }};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}